<container>
    <div class="row">
        
        <div id="gif-card" class="text-center elevated-card ">
            <div>
                <img src="~/Easter eggs/Images/develop.gif" />
                <h1> Rip develop 1 en 2, gone too soon</h1><img src="~/Easter eggs/Images/candle.png" />
            </div>
        </div>
    </div>
</container>