<div class="col-xs-4 col-sm-6 col-md-6 col-lg-6 elevated-card">

    <img src="~/Easter eggs/Images/Burnberg.png" style="width:90%;height:90%" />

    <p class="center-text ">this is one of our burndown charts. We call it the Burnberg Chart</p>
    <br />
</div>