@page
@{
}

<div class="container">
@* Title header *@
    <div class="text-center">
        <h2>404 Page not found</h2>
        <p></p>
        <h1>It seems like you are lost!</h1>
        <p></p>
        <img src="~/img/johnny.gif"/>
    </div>
</div>
