@page
@{
}

<div class="container">
    <div class="text-center">
        <h2>500 Internal Server Error</h2>
        <p></p>
        <h1>Woops! Something went wrong on the server</h1>
        <p></p>
        <img src="~/img/ITCrowd.gif"/>
        <p>We are working on it.</p>
    </div>
</div>