<div class="container">
    @* Title header *@
    <div class="text-center">
        <img src="~/img/Group_Picture.jpg" class="resize-group-picture"/>
        <p>
            The team from Avans Hogeschool who made this Application (from left to right), top row:
            Damian Buzink, Arjan Gosens, Jerke Godeke, Yannick Willems and Amber van bezouwen. Bottom row:
            Niek Flipse and Stijn van Veen
        </p>
        <br />
        <h2>
            We have worked hard and deep into the night, but also laughed a lot.
            Many inside jokes have been born from this project, that may or
            may not have been added to the application through easter eggs.
            We would like to thank CM for giving us the opportunity to work on this project.
            We would also like to give some special thanks to Robbie, Raoul and Kevin,
            whose feedback was essential to making this project what it is.
            And of course our supervisor Erik Kuiper,
            whose advice and guidance enabled us to make the best application we could.
        </h2>
        <h2>Greetings from team A4 ( a.k.a. the best team ¯\_(ツ)_/¯ )</h2>
    </div>
</div>
